.authPage {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-out;
}

.logo-reg {
  height: 90px;
  margin-right: 1200px;
  margin-top: 30px;
  border-radius: 190px;
}

.back-image-reg {
  background-image: url("../Assets/grey1.jpeg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.reg-log-title {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: white;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: -90px;
  animation: fadeInAnimation 1.5s ease-out forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.reg-container {
  margin-top: 10px;
  display: flex;
  width: 70%;
  height: 80%;
  background-color: #f4f8fb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  animation: fadeIn 1s ease-out;
}

.left-section {
  flex: 1;
  background: linear-gradient(135deg, #007bff, #0056b3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 30px;
  text-align: center;
  animation: slideInLeft 1s ease-out;
}

.left-section img {
  max-width: 100%;
  height: 350px;
  margin-top: -20px;
  border-radius: 10px;
  animation: scaleUp 1s ease-out;
}

.left-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
  animation: fadeIn 1.2s ease-out;
}

.left-section p {
  font-size: 16px;
  margin-bottom: 30px;
  animation: slideInLeft 1s ease-out;
}

.left-section .sign-in-btn {
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.left-section .sign-in-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.right-section {
  margin-top: -25px;
  flex: 1;
  padding: 40px 20px;
  animation: fadeIn 1s ease-out;
}

.reg-header {
  text-align: center;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-out;
}

.error-message-reg,
.success-message-reg {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  animation: fadeIn 1.8s ease-out;
}

.error-message-reg {
  margin-top: -50px;
  color: #ff0000;
  background-color: #ffcccc;
}

.success-message-reg {
  color: #007bff;
  background-color: #d4edda;
}

.inputTag {
  margin-bottom: 15px;
}

.inputTag .input-wrapper input {
  margin-top: -1px;
  margin-right: 4px;
  background-color: #f4f8fb;
}

.inputTag label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  height: 35px;
  transition: border-color 0.3s ease;
}

.input-wrapper input,
.input-wrapper select {
  border: none;
  flex: 1;
  outline: none;
  padding: 4px;
  font-size: 16px;
  margin-left: 10px;
  background-color: #f4f8fb;
}

select option {
  font-size: 16px;
  color: #333;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 40%;
}

.input-wrapper select option:hover {
  background-color: #e6f0ff;
  color: #0056b3;
}

.input-wrapper svg {
  color: #007bff;
  transition: color 0.3s ease;
  font-size: 20px;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.register-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.input-wrapper:hover {
  border-color: #007bff;
}

.input-wrapper:hover svg {

  color: darkblue;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}