.jobs.page {
    padding: 30px;
    background-color: #f7f8f9;
    font-family: 'Arial', sans-serif;
    margin-top: 30px;
}

.jobs-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10px;
}

.jobs-container h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: -15px;
    color: #333;
}

.jobs-banner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 30px;
    padding: 10px;
}

.jobs-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.jobs-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.jobs-card p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.jobs-card p+p {
    font-size: 1rem;
    color: #555;
}

.jobs-card a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    background-color: #0056b3;
    width: 100%;
    max-width: 200px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: auto;
}

.jobs-card a:hover {
    background-color: #7baeff;
    color: #0056b3;
}

.jobs-card {
    animation: cardFadeIn 0.5s ease-out;
}

.jobs.page {
    animation: fadeIn 1s ease-out;
}